<table style="width:80%;border:none;">
<tr><td>Function</td><td>NumPy (Python)</td><td>Math (Python)</td><td>NumPy (Numba)</td><td>Math (Numba)</td><td>NumPy array operation</td></tr>
<tr><td>ceil</td><td>1.1231258217710025</td><td>0.4749353990429938</td><td>0.0008636775715800127</td><td>0.0011589747900167425</td><td>0.009558930361848895</td></tr>
<tr><td>fabs</td><td>1.190201547781293</td><td>0.2538991720750957</td><td>0.0008787471256766821</td><td>0.0008700416063788907</td><td>0.003102947268568812</td></tr>
<tr><td>floor</td><td>1.1254966048474728</td><td>0.4725829575951167</td><td>0.0008718127292695499</td><td>0.0011818192734210698</td><td>0.00929041012001619</td></tr>
<tr><td>isinf</td><td>2.875996391712346</td><td>0.2172991576659598</td><td>0.0019542990255814628</td><td>0.0015578376690825735</td><td>0.0043343279639287855</td></tr>
<tr><td>isnan</td><td>2.868121258878125</td><td>0.27038355317271223</td><td>0.0009368039336891343</td><td>0.0008724431289465429</td><td>0.0005564928164460525</td></tr>
<tr><td>trunc</td><td>1.1380280497835655</td><td>0.3407404494449452</td><td>0.000874424385057182</td><td>0.0011625170358001923</td><td>0.009777498934323604</td></tr>
<tr><td>exp</td><td>1.2803738570253587</td><td>0.2581705801478165</td><td>0.016992453215334536</td><td>0.016694694436273493</td><td>0.017910105006569664</td></tr>
<tr><td>expm1</td><td>1.2937144049327287</td><td>0.3205501287816446</td><td>0.02353600182515834</td><td>0.018283271594191318</td><td>0.02425099513091027</td></tr>
<tr><td>log</td><td>1.2052364599155851</td><td>0.35276985608875294</td><td>0.008671087469457462</td><td>0.008718877768501443</td><td>0.009766692082780536</td></tr>
<tr><td>log1p</td><td>1.2575248707680657</td><td>0.30883075870101495</td><td>0.01413422109617386</td><td>0.011023108650886116</td><td>0.01562211442054604</td></tr>
<tr><td>log10</td><td>1.1587250016510438</td><td>0.3016583413884405</td><td>0.009562952912142464</td><td>0.009261922058578875</td><td>0.010619562802810378</td></tr>
<tr><td>sqrt</td><td>1.1562630807932237</td><td>0.24119920029297645</td><td>0.005595067272645337</td><td>0.005595367462967715</td><td>0.004055811384409936</td></tr>
<tr><td>acos</td><td>1.1806247260763372</td><td>0.2633806233151745</td><td>0.016708473171991044</td><td>0.016698596910441666</td><td>0.01787594334807636</td></tr>
<tr><td>asin</td><td>1.1905277345837249</td><td>0.2724390463553846</td><td>0.01811231320657498</td><td>0.018038556444776078</td><td>0.01908192794231809</td></tr>
<tr><td>atan</td><td>1.1409695847167085</td><td>0.2579065327417652</td><td>0.014553647012212423</td><td>0.014534284736521385</td><td>0.01543944861041382</td></tr>
<tr><td>cos</td><td>1.1903819321449873</td><td>0.25822872701292</td><td>0.016022057984764616</td><td>0.017010164444252497</td><td>0.017287330167334858</td></tr>
<tr><td>sin</td><td>1.1578762135193643</td><td>0.2554323641188489</td><td>0.017418393261334587</td><td>0.017455196594642074</td><td>0.018340427831242324</td></tr>
<tr><td>tan</td><td>1.21537223599762</td><td>0.28493683995653785</td><td>0.02409813821963098</td><td>0.02410071985639206</td><td>0.025407358265147194</td></tr>
<tr><td>degrees</td><td>1.1409311003175957</td><td>0.18814500393249317</td><td>0.0008668595889730568</td><td>0.0008705219108946949</td><td>0.0030540462653334544</td></tr>
<tr><td>radians</td><td>1.1096439442606651</td><td>0.1899817784475431</td><td>0.000872172957656403</td><td>0.0008842406085477706</td><td>0.00306275178463693</td></tr>
<tr><td>acosh</td><td>1.3108416135830112</td><td>0.30762384351680794</td><td>0.027652151464030793</td><td>0.02987494071242054</td><td>0.02872446130845674</td></tr>
<tr><td>asinh</td><td>1.2849951969548783</td><td>0.3143961071319154</td><td>0.03724431289438144</td><td>0.04108623867530241</td><td>0.03848773122158491</td></tr>
<tr><td>atanh</td><td>1.2688578358679479</td><td>0.3224770504499929</td><td>0.026706792106188003</td><td>0.03591437971672349</td><td>0.028130594797107732</td></tr>
<tr><td>cosh</td><td>1.2428877108086454</td><td>0.2616487052791399</td><td>0.020772299637974355</td><td>0.020742460720111922</td><td>0.021915844645491234</td></tr>
<tr><td>sinh</td><td>1.2442559482712112</td><td>0.2684678886413849</td><td>0.02082903560856266</td><td>0.020808382514519507</td><td>0.021937308253450284</td></tr>
<tr><td>tanh</td><td>1.1691480298509305</td><td>0.25140927347938485</td><td>0.00985752967380904</td><td>0.009607321041539763</td><td>0.010949952269720597</td></tr>
</table>