<table style="width:80%;border:none;">
<tr><td>Function</td><td>NumPy (Python)</td><td>Math (Python)</td><td>NumPy (Numba)</td><td>Math (Numba)</td><td>NumPy array operation</td></tr>
<tr><td>ceil</td><td>1.21078508775</td><td>0.223635875145</td><td>0.000868780807032</td><td>0.000867429950589</td><td>0.00977200545146</td></tr>
<tr><td>fabs</td><td>1.27732269259</td><td>0.225303372338</td><td>0.000871122291532</td><td>0.000872563205073</td><td>0.00328720408739</td></tr>
<tr><td>floor</td><td>1.19984927444</td><td>0.218760304033</td><td>0.000878116726004</td><td>0.000876885945689</td><td>0.00973012890172</td></tr>
<tr><td>isinf</td><td>3.03036743295</td><td>0.192278894819</td><td>0.00191968708161</td><td>0.00155795774521</td><td>0.0024870768067</td></tr>
<tr><td>isnan</td><td>2.99447211532</td><td>0.192286759806</td><td>0.000878236802134</td><td>0.000883820342096</td><td>0.000496814980698</td></tr>
<tr><td>trunc</td><td>1.21123774473</td><td>0.401884504776</td><td>0.000874004118612</td><td>0.00117872731312</td><td>0.00997925684884</td></tr>
<tr><td>exp</td><td>1.30411029593</td><td>0.227114870828</td><td>0.0157318339827</td><td>0.0158497487407</td><td>0.0170216617335</td></tr>
<tr><td>expm1</td><td>1.30529721844</td><td>0.229945815647</td><td>0.0330592095388</td><td>0.0177617809691</td><td>0.0344451582303</td></tr>
<tr><td>log</td><td>1.30467057114</td><td>0.251881682987</td><td>0.00915817628377</td><td>0.00918258175683</td><td>0.0104420902852</td></tr>
<tr><td>log1p</td><td>1.32450585671</td><td>0.221822725608</td><td>0.0148399985591</td><td>0.0115076158284</td><td>0.0161590348281</td></tr>
<tr><td>log10</td><td>1.29750322705</td><td>0.222840911138</td><td>0.00957324944014</td><td>0.00927591092753</td><td>0.010478353276</td></tr>
<tr><td>sqrt</td><td>1.29314233224</td><td>0.214620439359</td><td>0.00561484981478</td><td>0.00554631636458</td><td>0.00406796909241</td></tr>
<tr><td>acos</td><td>1.3299515793</td><td>0.228866961654</td><td>0.0170540822882</td><td>0.0171827138406</td><td>0.0178488962002</td></tr>
<tr><td>asin</td><td>1.35847146091</td><td>0.228723140471</td><td>0.0181724113088</td><td>0.0181869405203</td><td>0.0190184977276</td></tr>
<tr><td>atan</td><td>1.36127703964</td><td>0.226435960399</td><td>0.0145329338801</td><td>0.0145592605712</td><td>0.0154599516093</td></tr>
<tr><td>cos</td><td>1.32016462437</td><td>0.231920317481</td><td>0.019984990484</td><td>0.019989673453</td><td>0.0213602824191</td></tr>
<tr><td>sin</td><td>1.31656714357</td><td>0.235093389209</td><td>0.0212605591945</td><td>0.021266623039</td><td>0.022528563109</td></tr>
<tr><td>tan</td><td>1.33652442649</td><td>0.238833490433</td><td>0.0272106015214</td><td>0.0272808760754</td><td>0.0284642563385</td></tr>
<tr><td>degrees</td><td>1.27692250887</td><td>0.181781869705</td><td>0.000936143514991</td><td>0.000872563205064</td><td>0.0033042548976</td></tr>
<tr><td>radians</td><td>1.27950969915</td><td>0.182505628569</td><td>0.000872022862495</td><td>0.000879107354058</td><td>0.00331563211075</td></tr>
<tr><td>acosh</td><td>1.33297320501</td><td>0.238187300749</td><td>0.0255601251193</td><td>0.0299390613649</td><td>0.0270208812387</td></tr>
<tr><td>asinh</td><td>1.35752478071</td><td>0.251602055703</td><td>0.0391768781407</td><td>0.0417582447272</td><td>0.0406280281699</td></tr>
<tr><td>atanh</td><td>1.33716788444</td><td>0.247922442829</td><td>0.0226499600747</td><td>0.0366752721225</td><td>0.0239154123714</td></tr>
<tr><td>cosh</td><td>1.31570826904</td><td>0.23050522031</td><td>0.0212372043876</td><td>0.0212845444011</td><td>0.0226593860508</td></tr>
<tr><td>sinh</td><td>1.29149233614</td><td>0.229573489592</td><td>0.0211803483409</td><td>0.0211623669406</td><td>0.0224179729949</td></tr>
<tr><td>tanh</td><td>1.22433573886</td><td>0.220255401925</td><td>0.00992396179179</td><td>0.00988535731653</td><td>0.011468861258</td></tr>
</table>