<table style="width:80%;border:none;">
<tr><td>Function</td><td>NumPy (Python)</td><td>Math (Python)</td><td>NumPy (Numba)</td><td>Math (Numba)</td><td>NumPy array operation</td></tr>
<tr><td>ceil</td><td>1.23475341088</td><td>0.217901148218</td><td>0.0083829793621</td><td>0.000920285178236</td><td>0.00982844277674</td></tr>
<tr><td>fabs</td><td>1.31707992495</td><td>0.224147452158</td><td>0.00166955347092</td><td>0.00087252532833</td><td>0.00334940337711</td></tr>
<tr><td>floor</td><td>1.22943912946</td><td>0.218479819887</td><td>0.00824501313321</td><td>0.000875317073172</td><td>0.00973097185741</td></tr>
<tr><td>isinf</td><td>3.13314332458</td><td>0.193701463415</td><td>0.00193104690431</td><td>0.00157070168856</td><td>0.00253241275797</td></tr>
<tr><td>isnan</td><td>3.16061943715</td><td>0.193019467167</td><td>0.000899212007505</td><td>0.000886003752345</td><td>0.000497831144463</td></tr>
<tr><td>trunc</td><td>1.23497512946</td><td>0.401735564728</td><td>0.0084893358349</td><td>0.00117097185741</td><td>0.00998174859287</td></tr>
<tr><td>exp</td><td>1.3437880075</td><td>0.22469382364</td><td>0.0156664315197</td><td>0.0156368930582</td><td>0.0173403377111</td></tr>
<tr><td>expm1</td><td>1.41952489306</td><td>0.229173613508</td><td>0.0332130281426</td><td>0.0177992945591</td><td>0.0345634521576</td></tr>
<tr><td>log</td><td>1.35790436023</td><td>0.259746851782</td><td>0.00917202251408</td><td>0.00911096435271</td><td>0.0103853208255</td></tr>
<tr><td>log1p</td><td>1.41073257786</td><td>0.221454078799</td><td>0.015283902439</td><td>0.0115659587242</td><td>0.0163751144465</td></tr>
<tr><td>log10</td><td>1.38020214634</td><td>0.222261703565</td><td>0.0093406979362</td><td>0.00929446904315</td><td>0.0105526754221</td></tr>
<tr><td>sqrt</td><td>1.29980181614</td><td>0.215333043152</td><td>0.0056800900563</td><td>0.00554746716698</td><td>0.00419920450281</td></tr>
<tr><td>acos</td><td>1.38762875797</td><td>0.230810866792</td><td>0.0171560825516</td><td>0.0171594446529</td><td>0.0178593921201</td></tr>
<tr><td>asin</td><td>1.38347082927</td><td>0.235335714822</td><td>0.0182445928705</td><td>0.0185464615385</td><td>0.0191342589118</td></tr>
<tr><td>atan</td><td>1.38371124953</td><td>0.22688558349</td><td>0.01454084803</td><td>0.0145301013133</td><td>0.0154805853659</td></tr>
<tr><td>cos</td><td>1.35799483677</td><td>0.232051091932</td><td>0.0200636998124</td><td>0.0204364727955</td><td>0.0214075797373</td></tr>
<tr><td>sin</td><td>1.40375426642</td><td>0.235093163227</td><td>0.0213015534709</td><td>0.0211516998124</td><td>0.0225604502814</td></tr>
<tr><td>tan</td><td>1.41166892308</td><td>0.240718168856</td><td>0.0274034971857</td><td>0.0276429268293</td><td>0.0287924953096</td></tr>
<tr><td>degrees</td><td>1.31739245028</td><td>0.182552345216</td><td>0.00166868292683</td><td>0.00608276172609</td><td>0.00329684052533</td></tr>
<tr><td>radians</td><td>1.31977080675</td><td>0.18133163227</td><td>0.00166409005628</td><td>0.00607432645402</td><td>0.00330575609755</td></tr>
<tr><td>acosh</td><td>1.38693283302</td><td>0.235513666041</td><td>0.0254836472795</td><td>0.0299879324578</td><td>0.0268675722326</td></tr>
<tr><td>asinh</td><td>1.43626140338</td><td>0.249595106942</td><td>0.0391198198874</td><td>0.0405993245779</td><td>0.040370521576</td></tr>
<tr><td>atanh</td><td>1.3980028818</td><td>0.248623459662</td><td>0.0226747917448</td><td>0.0363789868668</td><td>0.0238825966229</td></tr>
<tr><td>cosh</td><td>1.35819866417</td><td>0.230515302064</td><td>0.0213204652908</td><td>0.0212887954972</td><td>0.0228190318949</td></tr>
<tr><td>sinh</td><td>1.36441389869</td><td>0.23058641651</td><td>0.0210535384615</td><td>0.0210634446529</td><td>0.0223715722326</td></tr>
<tr><td>tanh</td><td>1.26429484428</td><td>0.220724592871</td><td>0.00989607504691</td><td>0.00988806003752</td><td>0.0114026866792</td></tr>
</table>