<table style="width:80%;border:none;">
<tr><td>Function</td><td>NumPy (Python)</td><td>Math (Python)</td><td>NumPy (Numba)</td><td>Math (Numba)</td><td>NumPy array operation</td></tr>
<tr><td>ceil</td><td>2.3272952000000005</td><td>0.47732419999999964</td><td>0.001603500000000224</td><td>0.0018545000000003142</td><td>0.005500000000000682</td></tr>
<tr><td>fabs</td><td>2.243900500000001</td><td>0.3083130000000011</td><td>0.0015777999999983193</td><td>0.0015579000000002451</td><td>0.005513400000000957</td></tr>
<tr><td>floor</td><td>2.254378599999998</td><td>0.4525015999999994</td><td>0.0016109000000000151</td><td>0.0018496999999996432</td><td>0.005585599999997725</td></tr>
<tr><td>isinf</td><td>5.697874000000001</td><td>0.32028530000000044</td><td>0.003042699999997467</td><td>0.0027009999999961566</td><td>0.0021878000000015163</td></tr>
<tr><td>isnan</td><td>5.692765799999995</td><td>0.3183570999999915</td><td>0.0017075999999974557</td><td>0.0016975999999999658</td><td>0.0020111000000042623</td></tr>
<tr><td>trunc</td><td>2.289855699999998</td><td>0.47958830000000036</td><td>0.0015897999999992863</td><td>0.0018354000000044834</td><td>0.0056479999999965004</td></tr>
<tr><td>exp</td><td>2.432219799999996</td><td>0.3883604999999989</td><td>0.0705114999999978</td><td>0.07036829999999554</td><td>0.0691573999999946</td></tr>
<tr><td>expm1</td><td>2.3277018999999997</td><td>0.34271929999999884</td><td>0.03128030000000308</td><td>0.031392700000003514</td><td>0.030449699999996936</td></tr>
<tr><td>log</td><td>2.5570524999999975</td><td>0.41738390000000436</td><td>0.051935200000002624</td><td>0.05191119999999501</td><td>0.05180169999999862</td></tr>
<tr><td>log1p</td><td>2.297684199999992</td><td>0.3572503999999981</td><td>0.040318299999989905</td><td>0.04044699999999466</td><td>0.038358000000016546</td></tr>
<tr><td>log10</td><td>2.6454617999999983</td><td>0.37410050000000866</td><td>0.060998699999981906</td><td>0.0602143999999953</td><td>0.0592920999999933</td></tr>
<tr><td>sqrt</td><td>2.277236600000015</td><td>0.3104239000000007</td><td>0.007359100000007857</td><td>0.007234600000015234</td><td>0.005497199999990698</td></tr>
<tr><td>acos</td><td>2.412349499999982</td><td>0.3477374999999938</td><td>0.047382199999992734</td><td>0.04711310000000139</td><td>0.0467721999999867</td></tr>
<tr><td>asin</td><td>2.3470502000000124</td><td>0.35185179999998584</td><td>0.04556059999999888</td><td>0.04487420000000384</td><td>0.04457429999999931</td></tr>
<tr><td>atan</td><td>2.375971800000002</td><td>0.3481748000000152</td><td>0.04086999999999534</td><td>0.039695999999980816</td><td>0.03741130000000794</td></tr>
<tr><td>cos</td><td>2.503730799999994</td><td>0.38706190000000334</td><td>0.0758393999999953</td><td>0.07555580000000646</td><td>0.07438669999999092</td></tr>
<tr><td>sin</td><td>2.428781099999992</td><td>0.38669890000001034</td><td>0.07634840000000623</td><td>0.07800500000000739</td><td>0.07621100000001206</td></tr>
<tr><td>tan</td><td>2.492754500000001</td><td>0.41331619999998565</td><td>0.10264810000001034</td><td>0.10297949999999219</td><td>0.1008495000000039</td></tr>
<tr><td>degrees</td><td>2.2288109000000076</td><td>0.2950863000000027</td><td>0.001555499999994936</td><td>0.0015563000000156535</td><td>0.005273600000009537</td></tr>
<tr><td>radians</td><td>2.2320786</td><td>0.2861617000000024</td><td>0.0015603000000055545</td><td>0.0015674999999873763</td><td>0.005123400000002221</td></tr>
<tr><td>acosh</td><td>2.566059999999993</td><td>0.3707497999999987</td><td>0.07158869999998388</td><td>0.07188109999999596</td><td>0.0717207000000144</td></tr>
<tr><td>asinh</td><td>2.5077541999999995</td><td>0.38287170000003246</td><td>0.07416949999997087</td><td>0.07438549999997121</td><td>0.07461079999998219</td></tr>
<tr><td>atanh</td><td>2.375846700000011</td><td>0.3729981999999836</td><td>0.06291080000000875</td><td>0.06282569999998486</td><td>0.06098790000000918</td></tr>
<tr><td>cosh</td><td>2.43233580000001</td><td>0.3517558999999892</td><td>0.05253170000000864</td><td>0.05309299999998984</td><td>0.05160569999998188</td></tr>
<tr><td>sinh</td><td>2.4809091999999966</td><td>0.3710594000000128</td><td>0.05745839999999589</td><td>0.05750259999999798</td><td>0.05738839999999072</td></tr>
<tr><td>tanh</td><td>2.3535013000000164</td><td>0.31028659999997216</td><td>0.011670199999980469</td><td>0.011648299999978916</td><td>0.010813400000006367</td></tr>
</table>