<table style="width:80%;border:none;">
<tr><td>Function</td><td>NumPy (Python)</td><td>Math (Python)</td><td>NumPy (Numba)</td><td>Math (Numba)</td><td>NumPy array operation</td></tr>
<tr><td>ceil</td><td>1.18614898311</td><td>0.218483962477</td><td>0.000887294559099</td><td>0.000878499061913</td><td>0.00979653283302</td></tr>
<tr><td>fabs</td><td>1.27807618762</td><td>0.225809110694</td><td>0.000874656660412</td><td>0.000892607879925</td><td>0.00329798123827</td></tr>
<tr><td>floor</td><td>1.17276815009</td><td>0.21799249531</td><td>0.00088087054409</td><td>0.000899632270168</td><td>0.00979938461538</td></tr>
<tr><td>isinf</td><td>3.16107863415</td><td>0.193149928705</td><td>0.00191726829268</td><td>0.00155770356473</td><td>0.00248660412758</td></tr>
<tr><td>isnan</td><td>3.19799492683</td><td>0.197099166979</td><td>0.000886393996251</td><td>0.000878288930585</td><td>0.000500112570359</td></tr>
<tr><td>trunc</td><td>1.18226482552</td><td>0.398712945591</td><td>0.000871894934335</td><td>0.00119645778611</td><td>0.00998685178236</td></tr>
<tr><td>exp</td><td>1.29791114447</td><td>0.226698926829</td><td>0.0157817335835</td><td>0.0157704765478</td><td>0.0171017485929</td></tr>
<tr><td>expm1</td><td>1.32982057786</td><td>0.234712705441</td><td>0.0330808555347</td><td>0.0177751594747</td><td>0.0344673921201</td></tr>
<tr><td>log</td><td>1.30551054409</td><td>0.252859857411</td><td>0.00911183489682</td><td>0.00921464915572</td><td>0.0104602776735</td></tr>
<tr><td>log1p</td><td>1.3292324803</td><td>0.223006288931</td><td>0.0150494859287</td><td>0.0115296360225</td><td>0.0162439924953</td></tr>
<tr><td>log10</td><td>1.33195196998</td><td>0.222019662289</td><td>0.00932241651032</td><td>0.00927807879925</td><td>0.0104631294559</td></tr>
<tr><td>sqrt</td><td>1.28179605253</td><td>0.213240375235</td><td>0.00561837148218</td><td>0.00554068292682</td><td>0.00409383864916</td></tr>
<tr><td>acos</td><td>1.34012544841</td><td>0.227131527204</td><td>0.017033065666</td><td>0.0171721726079</td><td>0.0178974559099</td></tr>
<tr><td>asin</td><td>1.3270807955</td><td>0.231107061914</td><td>0.0182493358349</td><td>0.0183731332083</td><td>0.0190959849906</td></tr>
<tr><td>atan</td><td>1.34193786116</td><td>0.226158889306</td><td>0.0147381013133</td><td>0.0145610206379</td><td>0.0156320900563</td></tr>
<tr><td>cos</td><td>1.31492884053</td><td>0.230529350844</td><td>0.0201005028143</td><td>0.0200435272045</td><td>0.0214076397749</td></tr>
<tr><td>sin</td><td>1.37285736585</td><td>0.234702739212</td><td>0.0211429943715</td><td>0.0210993170732</td><td>0.0224899362101</td></tr>
<tr><td>tan</td><td>1.33833002627</td><td>0.239565118199</td><td>0.0273188442777</td><td>0.0272455384615</td><td>0.0285378761726</td></tr>
<tr><td>degrees</td><td>1.27759693809</td><td>0.186898851782</td><td>0.000881320825522</td><td>0.000873125703572</td><td>0.00360078048781</td></tr>
<tr><td>radians</td><td>1.27120600375</td><td>0.182241590994</td><td>0.000870213883672</td><td>0.00088237148218</td><td>0.00335669793621</td></tr>
<tr><td>acosh</td><td>1.33514365478</td><td>0.236165313321</td><td>0.0254632045028</td><td>0.0300733658537</td><td>0.0268399549719</td></tr>
<tr><td>asinh</td><td>1.35901022139</td><td>0.24994980863</td><td>0.0392694934334</td><td>0.040787782364</td><td>0.0405219061914</td></tr>
<tr><td>atanh</td><td>1.38061574484</td><td>0.248188938086</td><td>0.0226812457786</td><td>0.0363228517824</td><td>0.0239030694184</td></tr>
<tr><td>cosh</td><td>1.30713122702</td><td>0.230242551595</td><td>0.0212452082552</td><td>0.0213022739212</td><td>0.0226897711069</td></tr>
<tr><td>sinh</td><td>1.32825924203</td><td>0.229088600375</td><td>0.0212048630394</td><td>0.0211796772983</td><td>0.0225295309569</td></tr>
<tr><td>tanh</td><td>1.20118387992</td><td>0.219959984991</td><td>0.00987398123827</td><td>0.00989229268293</td><td>0.0114693283302</td></tr>
</table>